body{
    height: 100vh;
    background-color: black;
}

button{
    width: 250px;
}

img{
    height: 80%;
}

.flat-theme{
    display: flex;
    width: 100%;
    height: 100%;
    color: white;
    font: bolder;
}

#match-up{
    display: flex;
    flex-direction: column;
    width: 75%;
}

#match-info{
    display: flex;
    flex-direction: column;
    width: 25%;
}

#match-heading{
    display: flex;
    justify-content: flex-end;
    height: 5%;
    font-size: .75em;
    padding-left: 25px;
    background-color: rgb(253, 185, 39);
}

#match-type{
    width: 90%;
}

#toggle-theme{
}


#away-team{
    display: flex;
    height: 45%;
    /* padding: 25px; */
    padding-left: 25px;
    padding-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    background-color: rgb(253, 185, 39);
}

#home-team{
    display: flex;
    height: 45%;
    /* padding: 25px; */
    padding-left: 25px;
    padding-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    background-color: rgb(0, 71, 27);
}

#date{
    height: 5%;
    text-align: center;
    font-size: .75em;
    padding-right: 25px;
    background-color: rgb(0,107,182);
}

#count-down{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 45%;
    text-align: center;
    padding-top: 25px;
    background-color: rgb(0,107,182);
}

#location{
    height: 45%;
    text-align: center;
    padding-top: 25px;
    background-color: rgb(240, 235, 210);
    color: black;
}